@font-face {
    font-family: 'zabars';
    src: url('./fonts/zabars.ttf') format('truetype');
}



body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: url('./img/10_gamebackground/desert2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    margin: 0;
}

.header {
    font-size: 64px;
    letter-spacing: 3px;
}

canvas {
    background-color: black;
    display: block;
}

@media (max-width: 600px) {
    .turnDeviceNotice, body {
        display: flex !important;
        width: 160% !important;
        height: 180% !important;
    }
}

@media only screen and (max-width: 1024px) {
    .header {
        display: none;
    }  
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100vw !important; 
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh !important;
    }

    .startScreen, .controlsScreen, .lostScreen, .wonScreen {
        width: 100vw !important;
        height: 100vh !important;
        background-size: 100vw 100vh !important;
    }

    .controlsHeader, .controlsDescription {
        margin-bottom: 5px !important;
    }

    .header {
        display: none;
    }

    .muteButtonDiv {
        top: 89% !important;
    }
}

.startScreen {
    display: flex;
    justify-content: space-around;
    background-image: url('./img/9_intro_outro_screens/start/startscreen_1.png');
    background-position: center;
    background-size: 720px 480px;
    background-repeat: no-repeat;
    width: 720px;
    height: 480px;
}

.startScreenButton {
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    font-size: 35px;
    background-color: rgb(255, 162, 0);
    height: 50px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    margin-top: 20px;
}

.startScreenButton:hover {
    cursor: pointer;
    scale: 1.05;
}

.controlsScreen {
    background-image: url('./img/10_gamebackground/desert.png');
    background-position: center;
    background-size: cover;
    width: 720px;
    height: 480px;
}

.controlsHeader {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-size: 70px;
    margin-bottom: 40px;
}

.controlsImageContainer {
    display: flex;
    justify-content: center;
    width: 80px;
    margin-left: 100px;
    margin-right: 50px;
}

.controlsDescription {
    display: flex;
    align-items: center;
    font-size: 35px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.aboutDescription {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.arrowImage {
    height: 50px;
}

.spaceImage {
    height: 90px;
}

.lostScreen {
    display: flex;
    justify-content: space-around;
    background-image: url('./img/9_intro_outro_screens/game_over/oh no you lost!.png');
    background-position: center;
    background-size: 720px 480px;
    background-repeat: no-repeat;
    width: 720px;
    height: 480px;  
}

.wonScreen {
    display: flex;
    justify-content: space-around;
    background-image: url('./img/9_intro_outro_screens/game_over/game over.png');
    background-position: center;
    background-size: 720px 480px;
    background-repeat: no-repeat;
    width: 720px;
    height: 480px;   
}

.muteButtonDiv, .muteButtonDiv3  {
    display: flex;
    background-color: orange;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    margin-top: 25px;     
 }

.muteButtonDiv2 {
    display: flex;
    background-color: orange;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    margin-bottom: 10px;     
}

.muteOverlay {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 800;
    width: 100vw;
    height: 100vh;
}

.muteUnmuteDiv {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 720px;
    height: 480px;
    margin-top: 149px;
}

.muteButtonDiv:hover, .muteButtonDiv2:hover, .muteButtonDiv3:hover {
    cursor: pointer;
    scale: 1.05;
}

.muteButtonImage {
    width: 35px;
    height: 35px;  
}

.mobileButtons {
    display: flex;
    position: fixed;
    align-items: end;
    z-index: 900;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
}

.aktionButtons {
    display: flex;
}

.arrowDiv {
    background-color: orange;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 10px;
}

.leftRightArrow {
    width: 35px;
    height: 35px;
}

.turnDeviceNotice {
    display: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    background-color: black;
    color: white;
    font-size: 70px;
    width: 100vw;
    height: 100vh;
}

.d-none {
    display: none;
}